*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CSS cusome property or css variable */
:root {
    --body-main-bg-color: #EEEAE4;
    --color-primary: #FC9C9C;
} 

body {
    font-fmaily: "Noto sans mono", sans-serif;
    background-color: var(--body-main-bg-color, #FF0000);
    font-size: 18px;
    margin: 1rem;
}

h1 {
    margin: 0;
    margin-bottom: 1rem;
}

p {
    margin: 0;
    margin-bottom: 1rem;
    color: var(--color-primary, #FF0000);
}

h1::first-letter {
    color: blue;
}

/* a[href*="oo"] */
[href*="oo"] {
    color: red;
}

a:link, a:visited {
    color: deepskyblue;
    text-decoration: none;
}

a:hover, a:active {
    color: hotpink;
    text-decoration: dashed underline;
}

li {
    display: block;
    padding: 15px;
}


ul.items li:nth-child(odd) {
    background-color: deepskyblue;
    color: white;
    font-weight: bold;
}

/* not applied because the above style is more specific until we use !important. */
li.selected {
    background-color: hotpink !important;
}

li.selected ~ li:nth-child(odd) {
    background-color: orange;
}

.test {
    border: 2px solid red !important;
}

.hide {
    display: none !important;
} 
